@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animateTicker {
  animation: ticker 20s linear infinite;
}

.animateTicker:hover {
  animation-play-state: paused;
}